
html, body {
  margin: 0;
}

#root {
  min-height: 100vh;
}


.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
 
}

/* Zone principale (Routes) */
.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1.5rem; /* padding normal, pas en vh */
}
